<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>



<body>

<h1 class="header_for_page">Let's go on a mission to Mars!</h2>
<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Let's Scrape!!</a></p>
<br>
<br>
<br>
<br>

<h2>Most Recent News: {{mars_info.latest_mars_article}}</h2>


<br>
<br>
<br>
   




    </body>